.articleList {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
.articleCard {
    flex: 1;
    background-color: var(--light);
    border-radius: 0.5em;
    padding: 10px;
    max-width: 200px; 
    margin-bottom: 20px; 
    padding:0.2em;
}


.articleCard p{
    margin:0.2em;
    color:var(--lightest);

}

.articleCard h3 {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    color:var(--lightest);
}

.articleCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 10px;
}
