.filter{
    display: flex;
    justify-content: center;
    gap:1em
}

.filter div select{
    background-color: var(--lightest);
    padding:0.2em;
    border-radius: 0.2em;
    margin-left: 0.2em;
    border: 1px solid var(--light);
}

.articleList {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
.articleCard {
    flex: 1;
    background-color: var(--light);
    border-radius: 0.5em;
    padding: 10px;
    max-width: 200px; 
    margin-bottom: 20px; 
    padding:0.2em;
}

.articleCard:hover{
    background-color: var(--medium);

}

.articleCard:hover h3{
    overflow: visible;
    white-space: wrap; 
    
}


.articleCard h3 {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    color:var(--lightest);
}

.articleCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 10px;
}

.articleCard p{
    color:var(--lightest);

}

.articleCard p:first-of-type{
    margin-top: 0;
 
 }