.dispForm{
    margin-top: 0.3em;
    display: flex;
    justify-content: center;
    gap:0.3em
}


.dispForm *{
    background-color: var(--lightest);
    color:var(--medium);
    border:1px solid var(--light);
    border-radius: 0.5em;
}

.dispForm button:hover{
    background-color: var(--light);
    color: var(--lightest);

} 

.hideForm{
    display: none;
}