.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.headerNav{
    display: flex;
    gap:1em;

}

.headerNav > a {
    padding:0.8em;
    background-color: var(--light);
    color: var(--medium);
    border-radius: 0.5em ;
}
  

.active,.headerNav > a:hover{
    background-color: var(--medium);
    color: var(--lightest);

    
}

