@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --lightest: #FAFAFA;  
  --light: #E6E6E6;  
  --lightmedium: #A8A8A8;  
  --medium: #707070;  
  --dark: #303030; 
  font-family: "Cormorant", serif;
}
*{
  box-sizing: border-box;
  

}

body{
  background-color: var(--lightest);
  color:var(--dark);
  max-width: 1280px;
  text-align: center;
 
}

a{
  color:var(--dark);
  text-decoration: none;
}

li{
  list-style-type: none;
}


