.voteContainer{
    display:flex;
    justify-content: center;
    gap:1em;
    margin: 0.5em;
    width:60%;
    margin:0 auto;
}
.voteContainer button{
    font-size:2em;
    flex:1;
    border: 1px solid var(--lightmedium);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.2) ;
}

.num{
    font-size: 2em;
}

.voteMsg{
   font-size: 1.2em;
    color:var(--dark);
    padding:1em;
    border-radius:0.5em;
    display: inline-block;

}

