.comments{
    display: flex;
    flex-direction: column;
}

.comments button{
    margin:0;
    background-color: var(--light);
    color:var(--lightest);
    padding: 0.2em;
    border-radius: 0.5em;
    border: none;
    font-size: 1.5em;

}

.comments ul {
    padding:0;
    
}


.dispCommentsList{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}


.hideCommentsList{
    display: none;
}