.nav > ul  {
    display:flex ;
    justify-content: center;
    gap:1em;
    padding:0;
    margin:0.5em
}

.nav > ul > li{
    background-color: var(--lightmedium);
    flex:1;
    padding:0.5em;
    border-radius: 0.5em ;
    
}

.nav > ul > li >a{
    color:var(--light);
}

.nav > ul>li:hover{
    background-color:var(--dark);
    color:var(--lightest)
}

.expand {
    background-color: var(--dark);
    border-radius: 0 0 0.5em 0.5em;
    display: inline-block;
    padding:1em; 
    transform: translatey(-0.5em);
   
}
.expand ul{
    padding:0;
    margin: 0; 
    
}
.expand ul li {
    border-bottom:1px solid var(--light);
    padding:0.5em;
    
}

.expand ul li button{
    color:var(--lightest);
    background-color: var(--dark);
    border:none
}






