.singleArticleContainer{
    display:flex;
    padding:1em
}
.singleArticleContainer > div{
    flex:1
}

.singleArticleContainer h2{
    background-color: var(--light);
    color:var(--lightest);
    padding:0.2em;
    border-radius: 0.5em;
   
}


