.comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em
}

.comments > button{
    margin:0;
    background-color: var(--lightmedium);
    color:var(--light);
    padding: 0.2em;
    border-radius: 0.5em;
    border: none;
    font-size: 1.5em;

}


.comments > button:hover{
    background-color: var(--medium);
    color:var(--lightest);
}

.comments ul {
    padding:0;
    
}



.dispCommentsList{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    
}



.hideCommentsList{
    display: none;
}


.commentLi{
    border-bottom: 2px solid var(--medium);
    
}





