.singleArticleContainer{
    display:flex;
    padding:1em;
}
.singleArticleContainer > div{
    flex:1;
   
}

.singleArticleContainer h2{
    background-color: var(--medium);
    color:var(--light);
    padding:0.5em;
    border-radius: 0.5em;
    font-size: 1em;
   
}




