.eachTopic *{
    margin:0
 }

.eachTopic{ 
    border:2px solid var(--light);
    padding:1em;
    margin:0.2em;
    border-radius:0.5em
}

.eachTopic:hover{
    background-color:var(--light);
    
  
}

.eachTopic:hover *{
    color:var(--lightest);
}

.eachTopic:hover h3{
    font-size: 1.8em;
}