.eachTopic *{
    margin:0
 }

.eachTopic{ 
    border:0.2em solid var(--light);
    padding:1em;
    margin:0.2em;
    border-radius:0.5em;
    background-color: var(--lightmedium);
    transition: all 500ms;
    
}

.eachTopic:hover{
    background-color:var(--dark);
    
  
}

.eachTopic:hover *{
    color:var(--lightest);

}

.eachTopic:hover h3{
    font-size: 1.5em;
}